.sourceCode:has(.printedClojure) {
  background-color: transparent;
  border-style: none;
}

.kind-map {
  display:               grid;
  grid-template-columns: repeat(2, auto);
  justify-content:       center;
  text-align:            right;
  border:                30px solid transparent;
  border-image-repeat:   round;
  border-image-slice:    30;
  border-image-source:   url('data:image/svg+xml;utf8,<svg fill=&quot;none&quot; height=&quot;100&quot; stroke=&quot;currentColor&quot; stroke-width=&quot;4&quot; viewBox=&quot;-100 -100 200 200&quot; width=&quot;100&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(0) translate(-30) &quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(90) translate(-30) &quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(180) translate(-30) &quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(270) translate(-30) &quot; /></svg>');
}

.kind-vector {
  display:               grid;
  grid-template-columns: repeat(1, auto);
  align-items:           center;
  justify-content:       center;
  text-align:            center;
  border:                30px solid transparent;
  border-image-repeat:   round;
  border-image-slice:    30;
  border-image-source:   url('data:image/svg+xml;utf8,<svg fill=&quot;none&quot; height=&quot;100&quot; stroke=&quot;currentColor&quot; stroke-width=&quot;4&quot; viewBox=&quot;-100 -100 200 200&quot; width=&quot;100&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;><g transform=&quot;rotate(0)&quot;><path d=&quot;M -65 -65 v 10 &quot; /><path d=&quot;M -65 65 v -10 &quot; /><path d=&quot;M -65 -30 H -75 V 30 H -65&quot; /></g><g transform=&quot;rotate(90)&quot;><path d=&quot;M -65 -65 v 10 &quot; /><path d=&quot;M -65 65 v -10 &quot; /><path d=&quot;M -65 -30 H -75 V 30 H -65&quot; /></g><g transform=&quot;rotate(180)&quot;><path d=&quot;M -65 -65 v 10 &quot; /><path d=&quot;M -65 65 v -10 &quot; /><path d=&quot;M -65 -30 H -75 V 30 H -65&quot; /></g><g transform=&quot;rotate(270)&quot;><path d=&quot;M -65 -65 v 10 &quot; /><path d=&quot;M -65 65 v -10 &quot; /><path d=&quot;M -65 -30 H -75 V 30 H -65&quot; /></g></svg>');
}

.kind-set {
  display:               grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, max-content));
  align-items:           center;
  justify-content:       center;
  text-align:            center;
  border:                30px solid transparent;
  border-image-repeat:   round;
  border-image-slice:    30;
  border-image-source:url('data:image/svg+xml;utf8,<svg fill=&quot;none&quot; height=&quot;100&quot; stroke=&quot;currentColor&quot; stroke-width=&quot;4&quot; viewBox=&quot;-100 -100 200 200&quot; width=&quot;100&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;><line x1=&quot;-80&quot; x2=&quot;-80&quot; y1=&quot;-20&quot; y2=&quot;20&quot; /><line x1=&quot;-70&quot; x2=&quot;-70&quot; y1=&quot;-20&quot; y2=&quot;20&quot; /><line x1=&quot;-90&quot; x2=&quot;-60&quot; y1=&quot;10&quot; y2=&quot;10&quot; /><line x1=&quot;-90&quot; x2=&quot;-60&quot; y1=&quot;-10&quot; y2=&quot;-10&quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(0) translate(-30) &quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(90) translate(-30) &quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(180) translate(-30) &quot; /><path d=&quot;M -10 -40 Q -20 -40, -20 -10, -20 0, -30 0 -20 0, -20 10, -20 40, -10 40&quot; transform=&quot;rotate(270) translate(-30) &quot; /></svg>');
}

.kind-seq {
  display:               grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, max-content));
  align-items:           center;
  justify-content:       center;
  text-align:            center;
  border:                30px solid transparent;
  border-image-repeat:   round;
  border-image-slice:    30;
  border-image-source:   url('data:image/svg+xml;utf8,<svg fill=&quot;none&quot; height=&quot;100&quot; stroke=&quot;currentColor&quot; stroke-width=&quot;4&quot; viewBox=&quot;-100 -100 200 200&quot; width=&quot;100&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;><g transform=&quot;rotate(0)&quot;><circle r=&quot;75&quot; /></g><g transform=&quot;rotate(90)&quot;><circle r=&quot;75&quot; /></g><g transform=&quot;rotate(180)&quot;><circle r=&quot;75&quot; /></g><g transform=&quot;rotate(270)&quot;><circle r=&quot;75&quot; /></g></svg>');
}
