{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        nrepl/nrepl {:mvn/version "1.3.1"}
        com.cnuernber/charred {:mvn/version "1.037"}
        carocad/parcera {:mvn/version "0.11.6"}
        org.antlr/antlr4-runtime {:mvn/version "4.7.1"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        ring/ring-core {:mvn/version "1.14.1"}
        io.github.nextjournal/markdown {:mvn/version "0.6.157"}
        hiccup/hiccup {:mvn/version "2.0.0-RC5"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        org.scicloj/kindly {:mvn/version "4-beta20"}
        org.scicloj/kindly-advice {:mvn/version "1-beta14"}
        org.scicloj/tempfiles {:mvn/version "1-beta1"}
        org.scicloj/kind-portal {:mvn/version "1-beta3"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        com.nextjournal/beholder {:mvn/version "1.0.2"}
        babashka/fs {:mvn/version "0.5.25"}
        org.scicloj/kindly-render {:mvn/version "0.1.5-alpha"}
        io.github.tonsky/clojure-plus {:mvn/version "1.4.0"}
        org.clj-commons/pretty {:mvn/version "3.5.0"}}
 :aliases {:dev {:extra-paths ["dev" "notebooks"]
                 :extra-deps {org.scicloj/noj {:mvn/version "2-beta18"}
                              org.mentat/emmy {:mvn/version "0.31.0"
                                               :exclusions [org.babashka/sci]}
                              thi.ng/geom {:mvn/version "1.0.1"}
                              org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}}
           ;; `clojure -T:build ci` to create a jar
           ;; `clojure -T:build deploy` to release a new version
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "48c3c67"}
                               org.scicloj/noj {:mvn/version "2-beta18"}
                               org.mentat/emmy {:mvn/version "0.31.0"
                                                :exclusions [org.babashka/sci]}}}
           ;; run `clojure -M:profile` to produce a flamegraph
           :profile {:extra-paths ["dev"]
                     :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}}
                     :jvm-opts ["-Djdk.attach.allowAttachSelf"]
                     :main-opts ["-m" "profile"]}
           ;; run `clojure -T:build ci` first to make the jar file, and update to the version you want to test
           ;; for testing cljdoc process `clojure -M:cljdoc`
           :cljdoc {:extra-deps {cljdoc/cljdoc-analyzer {:git/url "https://github.com/cljdoc/cljdoc-analyzer"
                                                         :git/sha "f83f0f6ff53c52b96a625790abbee3a69ccdfdad"}}
                    :main-opts ["-m" "cljdoc-analyzer.cljdoc-main"
                                {:project "org.scicloj/clay"
                                 :version "2-beta54"
                                 :jarpath "target/org.scicloj/clay-2-beta54.jar"
                                 :pompath "target/classes/META-INF/maven/org.scicloj/clay/pom.xml"}]}
           :nrepl {:extra-paths ["test"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
                   ;; this allows nrepl to interrupt runaway repl evals
                   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}
