{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.cnuernber/charred {:mvn/version "1.033"}
        carocad/parcera {:mvn/version "0.11.6"}
        org.antlr/antlr4-runtime {:mvn/version "4.7.1"}
        http-kit/http-kit {:mvn/version "2.8.0-beta3"}
        io.github.nextjournal/markdown {:mvn/version "0.5.148"}
        hiccup/hiccup {:mvn/version "2.0.0-RC2"}
        clj-commons/clj-yaml {:mvn/version "1.0.27"}
        org.scicloj/kindly {:mvn/version "4-alpha16"}
        org.scicloj/kindly-advice {:mvn/version "1-alpha6"}
        org.scicloj/tempfiles {:mvn/version "1-alpha2"}
        org.scicloj/kind-portal {:mvn/version "1-alpha10"}
        org.clojars.daslu/portal {:mvn/version "0.51.1-temporary-2b2a18e"}
        org.clojure/tools.reader {:mvn/version "1.3.7"}
        babashka/fs {:mvn/version "0.4.19"}}
 :aliases {:dev {:extra-paths ["notebooks"]
                 :extra-deps {scicloj/tablecloth {:mvn/version "7.021"}
                              org.scicloj/noj {:mvn/version "1-alpha22"}}}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "48c3c67"}
                               scicloj/tablecloth {:mvn/version "7.021"}}}}}
