{:base-target-path "docs"
 :subdirs-to-sync ["src" "notebooks"]
 :format [:html]
 :show true
 :live-reload false
 :run-quarto true
 :quarto {:format {:html {:toc true
                          :toc-depth 4
                          :theme :cosmo}
                   :revealjs {:theme :solarized
                              :navigation-mode :vertical
                              :transition :slide
                              :background-transition :fade
                              :incremental true}}
          :code-block-background true}
 :kindly/options {:datatables {:paging false
                               :scrollY 400
                               :sPaginationType "full_numbers"
                               :order []}}}
