{:base-target-path "docs"
 :subdirs-to-sync ["src" "notebooks"]
 :format [:html]
 :show true
 :run-quarto true
 :quarto {:format {:html {:toc true
                          :toc-depth 4
                          :theme :spacelab}
                   :revealjs {:theme :solarized
                              :navigation-mode :vertical
                              :transition :slide
                              :background-transition :fade
                              :incremental true}}
          :code-block-background true
          :include-in-header {:text "<link rel = \"icon\" href = \"data:,\" />"}}
 :kindly/options {:datatables {:paging false
                               :scrollY 400
                               :sPaginationType "full_numbers"
                               :order []}
                  :element/max-height "600px"}}
