{:deps {}
 :paths ["src"]
 :aliases {:clay
           {:extra-deps {org.scicloj/clay {:mvn/version "1-alpha2"}
                         cider/cider-nrepl {:mvn/version "0.28.3"}}
            :main-opts
            ["-m" "nrepl.cmdline"
             "--middleware" "[scicloj.clay.v1.nrepl/middleware,cider.nrepl/cider-middleware]"
             "-i"]}}}
